
.hero{
    box-shadow: 0px 50px 100px 50px #DC3545;
}
h2, .hero p, .hero img{
    padding: 10px;
}
#imgAlbum{
    width: 40vw;
    max-width: 500px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}
#imgBand{
    width: 30%;
    max-width: 90px;
    border-radius: 50px;
    display: inline-block;
}
#imgSong{
    width: 5%;
    max-width: 40px;
    border-radius: 50px;
    display: inline-block;
}
.dropdown-item:hover{
    background-color: grey;
}
ol{
    padding-left: 50px;
}
ol li {
    margin-bottom: 40px;
    font-size: x-large;
}
ol li p{
    margin-left: 20%;
}


@media screen and (min-width:768px){
    ol li{
        font-size: larger;
    }
    #visual, #time{
        display: inline-block !important;
    }
    .more{
        display: none;
    }
}
@media screen and (min-width:992px){
    ol li{
        font-size: larger;
    }
    #imgBand{
        width: 40%;
    }
    #imgAlbum{
        max-width: 300px;
    }
}